.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(218, 218, 218);
  background-color: rgb(129, 129, 129);

}
.input {
  margin-top: 5vh;
  align-self: center;
  width: 30vw;
  border: 1px solid yellowgreen;
}